* {
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
    }
body{
    color: white;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    font-family: 'Raleway', sans-serif;
}
.avatar{
    width: 80px;
    border-radius: 50px;
    border: 3px solid white;
    box-shadow: 0 0 20px white;
}
 h1{
    font-family: 'Architects Daughter', cursive;
    font-weight: 100;
    font-size: 24px;
    margin-bottom: 2px ;
 }
 h2{
     font-size: 16px;
 }
 .profile{
     text-align: center;
     margin-top: 20px;
 }
 .social{
     display: flex;
     justify-content: space-around;
     list-style: none;
     margin: 20px 0;
     }
 .social img {
     width: 33px;
 }
 .links-list{
     list-style: none;
}
.links-list li {
    margin: 10px 20px;
    
}
.links-list li a{
    display: block;
    background-color: white;
    padding: 15px 20px;
    border-radius: 4px;
    text-decoration:none;
    color:#C71585;
    font-weight: bold;
}
.links-list li a span{
    color: grey;
    display: block;
    margin-top: 10px;
}